@font-face {
  font-family: "Viaoda Libre";
  src: url(https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap);
}

html {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  position: relative;
  text-align: center;
}
.banner-text {
  position: absolute;
  top: 5%;
  left: 40%;
  font-size: 6rem;
  z-index: 1;
  font-family: "Viaoda Libre";
  opacity: 0.8;
}
.banner {
  opacity: 0.75;
  z-index: 0;
}
ul {
  list-style-type: none;
  z-index: 1;
}

.icon {
  height: 3rem;
  width: 3rem;
  padding-left: 0.5rem;
}
li {
  display: inline;
}
nav {
  text-align: center;
  margin: 0 auto;
  width: auto;
}
.bio {
  display: inline-flex;
  text-align: center;
  justify-content: space-around;
}
.bio p {
  opacity: 0.8;
  box-shadow: 5px 5px 5px 8px darkgrey;
  padding: 3rem;
  padding-bottom: 2rem;
  font-family: "Viaoda Libre";
  font-size: 1.2rem;
}
.bio img {
  width: 15%;
  height: 10%;
}
.band-member-images img {
  width: 20%;
}
.band-member-images {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .banner {
    overflow: visible;
    width: 400px;
  }
  .banner-text {
    font-size: 2rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bio p {
    padding: 0;
    box-shadow: 0;
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    width: 500px;
  }
  .banner-text {
    font-size: 3rem;
  }
  .bio p {
    padding: 1rem;
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
